name: Deploy Production Application to Server

on:
  push:
    branches: [production]

jobs:
  build-and-deploy:
    runs-on: Windows

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup SSH key
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.PRODUCTION_SSH_KEY }}

      - name: Add known hosts
        run: |
          mkdir %userprofile%\.ssh
          ssh-keyscan -p ${{ secrets.PRODUCTION_PORT }} ${{ secrets.PRODUCTION_HOST }} >> %userprofile%\.ssh\known_hosts

      - name: Deploy using SSH
        shell: bash
        run: |
          ssh -p ${{ secrets.PRODUCTION_PORT }} ${{ secrets.PRODUCTION_USER }}@${{ secrets.PRODUCTION_HOST }} << 'EOF'
            cd ${{ secrets.PRODUCTION_PATH }}
            git fetch origin
            git checkout production
            git pull origin production

            composer install --no-interaction --prefer-dist --optimize-autoloader

            php artisan optimize:clear
            php artisan migrate --force
            php artisan filament:optimize
            php artisan config:cache
            php artisan route:cache
            php artisan view:cache
            php artisan event:cache

            cp ./deploy/supervisor/${{ secrets.PRODUCTION_SUPERVISOR_PREFIX }}-queue.conf /etc/supervisor/conf.d/
            cp ./deploy/supervisor/${{ secrets.PRODUCTION_SUPERVISOR_PREFIX }}-schedule.conf /etc/supervisor/conf.d/
            sudo supervisorctl reread
            sudo supervisorctl update
            sudo supervisorctl restart ${{ secrets.PRODUCTION_SUPERVISOR_PREFIX }}-queue
            sudo supervisorctl restart ${{ secrets.PRODUCTION_SUPERVISOR_PREFIX }}-schedule
          EOF
